.html {
    background: none !important;
}
.hide {
    display: none;
}
.hideChildDiv {
}
.hideChildDiv > div {
    display: none;
}
.logo {
    width: 400px;
    height: 400px;
    background: url("./assets/dull-logo-transparent.png") no-repeat center center;
    background-size: contain;
    margin: 0 auto;
}
.card {
    box-shadow: none;
    max-width: 400px;
    border-top: none;
    margin: 0 auto;
}
.button {
    margin-top: 40px;
    color: #fff;
    background-color: #6da1e2;
    display: block;
    width: 100%;
    border: 0;
}
